@page
@model Web.Pages.Vehiculos.DetalleModel
@{
}
<h1>Detalle Vehículo</h1>
<div class="container">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelo => modelo.vehiculo.Marca) @Html.DisplayFor(modelo => modelo.vehiculo.Modelo)</h5>
                <p class="card-text">
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.vehiculo.placa):</b>
                        @Html.DisplayFor(modelo => modelo.vehiculo.placa)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.vehiculo.anio):</b>
                        @Html.DisplayFor(modelo => modelo.vehiculo.anio)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.vehiculo.precio):</b>
                        @Html.DisplayFor(modelo => modelo.vehiculo.precio)
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelo => modelo.vehiculo.correoPropietario) | @Html.DisplayFor(modelo => modelo.vehiculo.telefonoPropietario)</small></p>           
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-secondary" asp-page="./Index">Regresar</a>
    <a type="button" class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.vehiculo.Id" >Editar</a>
</div>
